body {
  color: #312f28;
  background-color: #8a60be;
  /* background-color: #4CA38D; */
  font-family: monospace;
}

main {
  max-width: 616px;
  margin: 64px auto 0;
  padding: 8px;
}

h1,
h2 {
  color: #000000;
  text-align: center;
  margin-bottom: 0;
}

h2 {
  margin-top: 4px;
  font-weight: normal;
}

a#btn-snap {
  background-color: #00000044;
  color: #ffffffcc;
  text-decoration: none;
  padding: 4px 8px;
  border-radius: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

a#btn-snap:hover {
  background-color: #00000066;
  color: #ffffff;
}

small {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.16);
}

small a {
  color: #000;
  text-decoration: none;
}
small a:hover {
  text-decoration: underline;
}

#lcd {
  background-color: #312f28;
  border: 8px #000000 solid;
  border-radius: 8px;
  aspect-ratio: auto 200/120;
  image-rendering: pixelated;
  /* width: 400px; */
  width: 100%;
  margin-top: 32px;
  margin-left: -8px;
  margin-bottom: 16px;
}
