html,
body {
  margin: 0;
  height: 100%;
}

body {
  color: #312f28;
  background-color: #f8f0e7;
  font-family: monospace;
  padding: 0 8px;
}

body.lemon,
#btn-lemon {
  background-color: #f4ba53;
}

body.plum,
#btn-plum {
  background-color: #8a60be;
}

body.mint,
#btn-mint {
  background-color: #4ca38d;
}

#btn-lemon,
#btn-plum,
#btn-mint {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  font-size: 0;
  border: 2px solid #000;
  margin-bottom: 8px;
  cursor: pointer;
  transition: transform 80ms;
}

body.lemon #btn-lemon,
body.plum #btn-plum,
body.mint #btn-mint {
  border-color: #00000077;
  filter: grayscale(25%);
}

#btn-lemon:hover,
#btn-plum:hover,
#btn-mint:hover {
  transform: scale(1.1);
  filter: brightness(1.1);
}

#btn-lemon:active,
#btn-plum:active,
#btn-mint:active {
  transform: none;
}

main {
  max-width: 600px;
  margin: 0 auto;
  padding: 32px 8px 8px;
}

h1,
h2 {
  color: #000000;
  text-align: center;
  margin-bottom: 0;
}

h2 {
  margin-top: 4px;
  margin-bottom: 16px;
  font-weight: normal;
}

a#btn-snap {
  background-color: #00000044;
  color: #ffffffcc;
  text-decoration: none;
  padding: 4px 8px;
  border-radius: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

a#btn-snap:hover {
  background-color: #00000066;
  color: #ffffff;
}

small {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.16);
}

small a {
  color: #000;
  text-decoration: none;
}
small a:hover {
  text-decoration: underline;
}

.lcd-bg {
  clear: both;
  border: 8px #000000 solid;
  border-radius: 8px;
  width: 100%;
  margin-left: -8px;
  margin-bottom: 8px;
}

#lcd {
  background-color: #312f28;
  aspect-ratio: auto 200/120;
  width: 100%;
  image-rendering: pixelated;
  mix-blend-mode: hard-light;
  touch-action: none;
  display: block;
}

#lcd.paused {
  filter: brightness(0.5);
  mix-blend-mode: unset;
}

/* @media screen and (orientation: landscape) {
  h1,
  h2,
  section,
  a,
  small {
    display: none;
  }
  main {
    padding: 0;
    max-width: none;
    text-align: center;
  }
  #lcd {
    width: auto;
    height: calc(100vh - 24px);
    margin: 4px;
  }
} */
