<header>
  <nav>
    <a
      href="{{ site.baseurl }}/"
      class="{% if page.url == '/' %}here{% endif %}"
      ><strong>Zest</strong></a
    >
    <a
      href="{{ site.baseurl }}/bundler"
      class="{% if page.url == '/bundler/' %}here{% endif %}"
      >Bundler</a
    >
    <a
      href="{{ site.baseurl }}/guide"
      class="{% if page.url == '/guide/' %}here{% endif %}"
      >Guide</a
    >
    <a
      href="{{ site.baseurl }}/docs"
      class="{% if page.url == '/docs/' %}here{% endif %}"
      >API</a
    >
    <a href="https://github.com/tkers/zest" class="right">GitHub</a>
  </nav>
</header>
