html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #808080;
}

main {
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  mix-blend-mode: hard-light;
}

canvas {
  display: block;
  object-fit: contain;
  width: 100%;
  height: 100%;
  aspect-ratio: auto 200/120;
  image-rendering: pixelated;
  touch-action: none;
}

main::after {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  content: '\25B6\FE0E';
  font-size: 20vmin;
  color: #ffffffff;
  text-shadow: 0 0 32px #000000;
  background: rgba(0, 0, 0, 0.75);
  transition: font-size 80ms ease-out;
  cursor: pointer;
}
main:hover::after {
  font-size: 24vmin;
}
main:active::after {
  font-size: 22vmin;
}
main.clicked::after {
  display: none;
}

.virtual-gamepad {
  display: none;

  align-items: center;
  justify-content: space-around;
  padding: 2rem 0;

  position: absolute;
  bottom: 4px;
  left: 4px;
  right: 4px;

  border-radius: 24px;
  background-color: #fab125;
  box-shadow:
    inset 0 0 0 1px #0008,
    inset 0 2px 0 #fff4,
    0 -2px 8px #0004;

  touch-action: none;
  user-select: none;
  -webkit-user-select: none;
}

.virtual-gamepad button {
  appearance: none;
  border: 0;
  padding: 0;
  font-family: monospace;
  background-color: #fff3;
  color: #fffc;
  box-shadow:
    inset 0 1px #fff3,
    inset 0 -2px 0 #0005;
}

.virtual-gamepad button:active {
  filter: brightness(0.7);
}

.dpad {
  position: relative;
  width: 150px;
  height: 150px;
}

.dpad button,
.dpad div {
  position: absolute;
  font-size: 12px;

  --btn-size: 50px;
  line-height: var(--btn-size);
  width: var(--btn-size);
  height: var(--btn-size);
}

.dpad button:nth-of-type(1) {
  left: var(--btn-size);
  top: 0;
  border-radius: 8px 8px 0 0;
  box-shadow: inset 0 1px #fff3;
}

.dpad button:nth-of-type(2) {
  left: 0;
  top: var(--btn-size);
  border-radius: 8px 0 0 8px;
}

.dpad div {
  background-color: #fff3;
  left: var(--btn-size);
  top: var(--btn-size);
}

.dpad button:nth-of-type(3) {
  right: 0;
  top: var(--btn-size);
  border-radius: 0 8px 8px 0;
}

.dpad button:nth-of-type(4) {
  left: var(--btn-size);
  top: calc(2 * var(--btn-size));
  border-radius: 0 0 8px 8px;
  box-shadow: inset 0 -2px 0 #0005;
}

.btns {
  position: relative;
  width: 140px;
  height: 150px;
}

.btns button {
  position: absolute;
  width: 64px;
  height: 64px;

  border-radius: 100%;
  font-size: 28px;
  font-weight: bold;
}

.btns button:nth-child(1) {
  left: 0;
  top: 60px;
}
.btns button:nth-child(2) {
  right: 0;
  top: 30px;
}

button#btn-m {
  width: 32px;
  height: 16px;
  font-size: 10px;
  border-radius: 32px;
  position: absolute;
  top: 6px;
  margin: 0 auto;
  box-shadow:
    inset 0 1px #fff2,
    inset 0 -1px 0 #0001;
}

@media (pointer: coarse) and (orientation: portrait) and (min-width: 320px) {
  main {
    justify-content: start;
  }
  canvas {
    max-height: 50%;
  }
  .virtual-gamepad {
    display: flex;
  }
}
